{% extends "base.html" %}
{% block title %}免费ShadowSocks账号分享{% endblock %}

{% block content %}

<h1>
  全部航班信息（大部分已失效）
</h1>

<a href='/'>返回主页</a><br>

<fieldset>

  <legend><strong>机场信息公屏</strong></legend>
  {% for server in servers %}
  <p>
    请支持免费机场的提供者：<a target="_blank" href="{{server['info']['url']}}">{{server['info']['name']}}</a><br>
    <font style="color:#E13C19">服务器通知：<br>{{server['info']['message']}}</font>
    <br>
    <ol>
      {%set outer_loop = loop%}
      {% for s in server['data'] %}
      <li>
        <a target="_blank" href="/{{outer_loop.index0}}-{{loop.index0}}"> {{s['remarks']}} - {{s['status']}}ms</a>
      </li>
      {% endfor %}
    </ol>
  </p>
  {% endfor %}
  </fieldset>
{% endblock %}
