{% extends "base.html" %}
{% block title %}airport{% endblock %}

{% block content %}

<h3>
  <pre>
{{ss}}
    </pre>
</h3>




<fieldset>

  <legend><strong>机场信息</strong></legend>
  {% for server in servers %}
  <p>
    请支持免费ss账号的提供者：<a target="_blank" href="{{server['info']['url']}}">{{server['info']['name']}}</a><br>
    <font style="color:#E13C19">服务器通知：<br>{{server['info']['message']}}</font>
    <br>
    <ol>
      {%set outer_loop = loop%}
      {% for s in server['data'] %}
      {%- if s['status'] > 0 -%}
      <li>
        <a target="_blank" href="/{{outer_loop.index0}}-{{loop.index0}}"> {{s['remarks']}} - {{s['status']}}ms</a>
      </li>
      {% endif %}
      {% endfor %}
    </ol>
  </p>
  {% endfor %}
  <h3>其他信息:</h3>
  爬到的所有账号（包含大量失效账号）在<a href="/full" target="_blank">这里<a><br>
      订阅地址：<a target="_blank" href="/subscribe">右键点击本链接，选择复制连接地址</a><br>
      JSON格式的订阅地址（每次随机从库中抽取一条json返回）：<a target="_blank" href="/json">右键点击本链接，选择复制连接地址</a>
</fieldset>
<div id="notice" style="background-color: #f5f5f6" target="_blank">

  <h4>必读信息</h4>
  <p>
    请使用 ShadowSocksR 客户端，不然无法使用。
    <a href="/html/clients.html" target="_blank">客户端下载地址</a><br>
  </p>
  
</div>

{% endblock %}
